extends layout

block content
  h1(id="titlestyle")= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let bakeryid = toShow._id
    - let bakeryItemname = toShow.Itemname
    - let bakeryQuantity = toShow.Quantity
    - let bakeryprice = toShow.price

    div
      div.row
        div(class='costumeAttr mr-3') bakery ID is:
        div(class='variety stylesheetnew') #{bakeryid}
      div.row
        div(class='costumeAttr mr-3') bakery Itemname is:
        div(class="variety") #{bakeryItemname}
      div.row
        div(class='costumeAttr mr-3') bakery Quantity is:
        div(class="variety") #{bakeryQuantity}
      div.row
        div(class='costumeAttr mr-3') bakery price is:
        div(class="variety") #{bakeryprice}
    